.page-container {
    padding: 20px;
    text-align: center;
  }
  
  .form-name-container {
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 350px;
    margin: 0 auto 30px;
  }
  
  .form-name-input {
    width: 100%;
    padding: 10px;
    font-size: 32px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
  }
  
  .form-name-heading {
    cursor: text;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    color: #333;
  }
  
  .button-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button, .save-button {
    color: black;
    cursor: pointer;
    background-color: #D3D3D3;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .cancel-button:hover, .save-button:hover {
    background: #9c9c9c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .cancel-button {
    margin-right: auto; 
  }
  
  .save-button {
    margin: 0 20px; 
  }
  
  .add-rules-button {
    margin-left: auto; 
  }
  
  